<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ViewChaptersServlet</servlet-name>
        <servlet-class>controller.ViewChaptersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewChaptersServlet</servlet-name>
        <url-pattern>/ViewChaptersServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>uploads.path</param-name>
        <param-value>D:/WEB_NOVEL/web_novel/build/web/uploads/chapters</param-value>
    </context-param>

</web-app>
